<h1>Log In</h1>
<form action="/login" method="POST">
    <input type="email" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Log in</button>
</form>
<br>
<form action="/login/facebook" method="POST">
    <button type="submit">Facebook</button>
</form>
<br>
<form action="/login/google" method="POST">
    <button type="submit">Google</button>
</form>