<h1>Log In</h1>
<input type="email" name="email" placeholder="E-mail" id="email" />
<input type="password" name="password" placeholder="Password" id="password" />
<button type="submit" id="email-signin">Log in</button>
<br>
<button type="submit" id="facebook-signin">Facebook</button>
<br>
<button type="submit" id='google-signin'>Google</button>

{{!-- Login Scripts --}}
<script src="/javascripts/login.js"></script>