<h1>Sign Up</h1>

<button type="submit" id="facebook-signin">Facebook</button>
<br>
<button type="submit" id='google-signin'>Google</button>
<br>
<div>
    <input type="email" name="email" placeholder="E-mail" id="email" />
</div>
<div>
    <input type=" text" name="fullname" placeholder="Full Name" />
</div>
<div>
    <input type="text" name="usernmame" placeholder="Username" />

</div>
<div>
    <label>Birthday</label><br>
    <input type="date" name="birthdate">
</div>
<div>
    <label>Gender</label><br>
    <select name='gender'>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
</div>

<input type="password" name="password" placeholder="Password" id="password" />
<button type="submit" id='email-signup'>Sign up</button>

<script src="javascripts/signup.js"></script>