<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Anonask</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/account/inbox"><i class="fas fa-question-circle this"
                    style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-user-circle" style="font-size : 24px;"></i><span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/people"><i class="fas fa-user-friends" style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/notifications"><i class="fas fa-bell" style="font-size : 24px;"></i><span
                    class="badge badge-secondary" id="notifications"></span></a>
        </li>
        <li class="nav-item">
            <label class="nav-link" id="logout"><i class="fas fa-cog" style="font-size : 24px;"></i></label>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="card mx-auto mt-5 p-md-3 mb-5" style="">
        <div class="card-body">
            <h3 class="card-title">Questions</h3>
            <div class="card-subtitle mb-4 text-muted d-flex align-items-center">
                <i class="fas fa-trash-alt"> </i>
                <h6 class="mt-2 ml-3">Delete all question</h6>
            </div>
            {{!-- HERE --}}
            {{#each questions}}
            <div class="card mx-auto mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{this.question}}</h5>
                    <form action="/profile/answer/{{this._id}}" method="POST">
                        <input class="form-control" type="text" name="answer" placeholder="Write your answer." />
                        <button type="submit" class="float-left  btn btn-primary mt-3"> Answer </button>
                    </form>
                    <button type="submit" id="delete-post" questionId="{{this._id}}"
                        class="float-right btn btn-danger mt-3">
                        Delete
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>




<script>
    let deleteBtns = document.querySelectorAll("#delete-post");
    for (let i = 0; i < deleteBtns.length; i++) {
        deleteBtns[i].addEventListener('click', e => {
            console.log(e.target.attributes.questionId.value)
            let questionId = e.target.attributes.questionId.value;
            axios.post("/account/inbox/delete", { questionId }).then(() => {
                window.location.href = "/account/inbox";
            });
        })
    }

</script>
<script src="/javascripts/logout.js"></script>
<link rel='stylesheet' href='/stylesheets/navbar.css' />

<script>
    axios.post("/notifications").then(res => {
        if (res.data.total > 0) {
            document.querySelector("#notifications").innerHTML = `${res.data.total}`
        } else {
            document.querySelector("#notifications").innerHTML = ''
        }
    })
    setInterval(() => {
        axios.post("/notifications").then(res => {
            if (res.data.total > 0) {
                document.querySelector("#notifications").innerHTML = `${res.data.total}`
            } else {
                document.querySelector("#notifications").innerHTML = ""
            }
        })
    }, 2000)
</script>