<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Anonask</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/account/inbox"><i class="fas fa-question-circle this"
                    style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-user-circle" style="font-size : 24px;"></i><span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/people"><i class="fas fa-user-friends" style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/notifications"><i class="fas fa-bell" style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <label class="nav-link" id="logout"><i class="fas fa-cog" style="font-size : 24px;"></i></label>
        </li>
    </ul>
</nav>
<h1>Inbox</h1>

{{#each questions}}
<h1>Question {{@index}} </h1>
<h5>{{this.question}}</h5>
<form action="/profile/answer/{{this._id}}" method="POST">
    <input type="text" name="answer" placeholder="Write your answer." />
    <button type="submit"> Answer </button>
</form>
<button type="submit" id="delete-post" questionId="{{this._id}}"> Delete </button>
{{/each}}

<script>
    let deleteBtns = document.querySelectorAll("#delete-post");
    for (let i = 0; i < deleteBtns.length; i++) {
        deleteBtns[i].addEventListener('click', e => {
            console.log(e.target.attributes.questionId.value)
            let questionId = e.target.attributes.questionId.value;
            axios.post("/account/inbox/delete", { questionId }).then(() => {
                window.location.href = "/account/inbox";
            });
        })
    }

</script>
<script src="/javascripts/logout.js"></script>
<link rel='stylesheet' href='/stylesheets/navbar.css' />