<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Anonask</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/account/inbox"><i class="fas fa-question-circle"
                    style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-user-circle" style="font-size : 24px;"></i><span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/people"><i class="fas fa-user-friends" style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/notifications"><i class="fas fa-bell this"
                    style="font-size : 24px;"></i></a>
        </li>
        <li class="nav-item">
            <label class="nav-link" id="logout"><i class="fas fa-cog" style="font-size : 24px;"></i></label>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="card mx-auto mt-5 p-md-3 mb-5" style="">
        <div class="card-body">
            <h3 class="card-title">Notifications</h3>
            {{!-- HERE --}}
            {{#each questions}}
            <div class="card mx-auto mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{#if this.seen}}{{else}} New{{/if}} Question : <i
                            style="{{#if this.seen}}{{else}} color:rgba(231, 71, 71, 0.8); {{/if}}">"{{this.question}}"</i>
                    </h5>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script>
    axios.post("/account/notifications");
</script>
<script src="/javascripts/logout.js"></script>
<link rel='stylesheet' href='/stylesheets/navbar.css' />