<h1>Anonask</h1>
<a href="/login">Log in</a>
<br>
<br>
<a href="/signup">Sign up</a>
<br>
<br>
<button id="logout">Log out</button>

{{!-- Logout Scripts --}}
<script src="/javascripts/logout.js"></script>