<h1>Anonask</h1>
<a href="/login">Log in</a>
<br>
<br>
<a href="/signup">Sign up</a>
<br>
<br>
<button id="logout">Log out</button>

<script>
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            console.log('User : ', user)
        } else {
            console.log("No user is signed in.")
        }
    });

    document.querySelector("#logout").addEventListener('click', () => {
        firebase
            .auth()
            .signOut()
            .then(() => {
                window.location = "/";
            })
            .catch(error => {
                console.error(error);
            });
    })
</script>