<h1>Anonask</h1>
{{#if currentUser}}
<a href="/profile">Profile</a>
<br>
<br>
<a href="/account/inbox">Inbox</a>
<br>
<br>
<a href="/account/people">People</a>
<br>
<br>
<a href="/account/notifications">Notifications</a>
<br>
<br>
<button id="logout">Log out</button>
{{else }}
<a href="/login">Log in</a>
<br>
<br>
<a href="/signup">Sign up</a>
{{/if}}


{{!-- Logout Scripts --}}
<script src="/javascripts/logout.js"></script>