<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1 mx-auto">Anonask</span>
</nav>

<div class="jumbotron jumbotron-fluid home">
    <div class="container justify-content-start mt-5">
        <p class="lead mx-auto text-center" style="width: 300px;">Curious? <b>Just ask!</b></p>
        <p class="lead mx-auto text-center" style="width: 300px;"><b>Openly or anonymously.</b></p>
        <div class='mx-auto d-flex justify-content-center mb-2 mt-5' style="width: 30%;">
            <button class='btn btn-light login-btn'>Log in</button>
        </div>
        <div class='mx-auto  d-flex justify-content-center m-3' style="width: 30%;">
            <button class='btn btn-outline-light signup-btn'>Sign up</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mx-3">
        <div class="col" id="people"></div>
        <div class="col" id="people"></div>
        <div class="col" id="people"></div>
        <div class="col" id="people"></div>
        <div class="col d-none d-ms-block" id="people"></div>
        <div class="col d-none d-ms-block" id="people"></div>
        <div class="col d-none d-md-block" id="people"></div>
        <div class="col d-none d-md-block" id="people"></div>
        <div class="col d-none d-md-block" id="people"></div>
        <div class="col d-none d-lg-block" id="people"></div>
    </div>
</div>

<link rel='stylesheet' href='/stylesheets/index.css' />

<script>

    document.querySelector('body > div > div > div:nth-child(3) > button').addEventListener('click', (e) => {
        window.location.href = "/login"
    });
    document.querySelector('body > div > div > div.mx-auto.d-flex.justify-content-center.m-3 > button').addEventListener('click', (e) => {
        window.location.href = "/signup"
    });
    let users = {};
    axios.post("/showPeople").then(res => {
        users = res.data;

        let people = document.querySelectorAll("#people");
        for (let i = 0; i < people.length; i++) {
            people[i].innerHTML = `<img src=${users[i].profilePicture} style="width: 50px; height : 50px; border-radius : 100%;"/>`
        }
    })

</script>